@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Linefont:wdth,wght@25..200,4..1000&family=Noto+Sans+Symbols+2&family=Noto+Sans+Symbols:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yarndings+20&display=swap");

.texto {
  padding-left: 3rem;
  font-size: 1.2rem;
}
.textoAlt {
  font-family: "Yarndings 20", system-ui;
  color: #ff7800;
  padding-left: 3rem;
  font-size: 1.2rem;
}
.textoDividido {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.foto {
  max-height: 400px;
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: #000000;
}
.fotoAlt {
  max-height: 400px;
  width: auto;
  height: auto;
  border-radius: 10px;
  filter: invert(1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  background-color: #f3e8e8;
  background-size: cover;
  background-position: center;
}
.containerAlt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  font-family: "Yarndings 20", system-ui;
  background-color: #f3e8e8;
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  color: #000000;
}
.home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #d88f08;
}
.home h1:hover {
  cursor: pointer;
}

.about {
  display: flex;
  width: 100%;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 0 7rem;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: top;
}
.about h1 {
  font-size: 2rem;
}
.about p {
  margin-top: 1rem;
  line-height: 1.5;
  text-align: justify;
}

section {
  padding: 50px 10%;
}

.projects {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 10%;
}

.projects h1 {
  font-size: 2rem;
}

.projects p {
  color: #808080;
}

footer {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

.social {
  display: flex;
  text-align: right;
  width: 100%;
  height: 40px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.social .links {
  display: flex;
  gap: 2rem;
}
